h4{
    text-align: center;
    background-color: aqua;
    background-origin: center;
     color:red;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
}
#uname1,#uname2,#email,#body,#contact_no{
    color:black;
    font-style: oblique;
    font-size: large;
    border-left: 5px solid yellow;
}
#date{
    color: black;
    font-style: oblique;
    font-size: xx-large;
    border-left: 5px solid yellow;
}
form{
    text-align: center;
    color:white;
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
}
body{
    background-color:antiquewhite;    
}
.form-group{
    background-color:brown;
}
.alert-danger{
    color: black;
    font-size: large;
}
.btn-primary{
    color: black;
    font-size:x-large;
    background-color: aqua;
}